@font-face{
    src: url('../fonts/Poppins-Regular.ttf');
    font-family: 'Poppin';
    font-style: normal;
}
@font-face{
    src: url('../fonts/Poppins-ExtraBold.ttf');
    font-family: 'PoppinB';
    font-style: normal;
}
@font-face{
    src: url('../fonts/AmaticSC-Bold.ttf');
    font-family: 'HOME';
    font-style: normal;
}
*{
    font-family: 'Poppin';
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.background{
    background-image: url('../images/background.jpg');
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.black-layer-activate{
    background:rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    transition: all 0.5s ease;
}
.navbar{
    display: flex;
    height: 5rem;
}
button{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transition:all ease-out 0.2s ;
}
.homebutton{
    flex: 1;
    text-align: center;
}
.homebutton button{
    font-family: 'HOME';
    color: rgba(255, 255, 255,0.9);
    text-shadow:rgba(0, 0, 0, 0.7) 1px 1px 1px ;
    width: 40%;
    padding-top: 1rem;
    font-size: 3rem;
    height: 100%;
}
.homebutton button:hover{
    font-size: 3.5rem;
}
.nothomebutton{
    flex: 3;
    display: flex;
    justify-content: space-around;
    transition: all 0.1s ease-in;
}
.nav-item{
    color:rgba(255, 255, 255,0.7);
    font-size: 1.4rem;
    padding-top: 1rem;
    width: 20%;
    height: 100%;
    border-radius: 4px;
}
.nav-item:hover{
    color:rgba(255, 255, 255,1);
    padding-top: 1.5rem;
}
.toggle-menu{
    padding-top: 2rem;
    margin-right: 10%;
}
.toggle-menu img{
    display: none;
    opacity: 0.7;
}
.home{
    height: calc(100vh - 5rem);
}
.home h1{
    color: rgba(189, 165, 130,0.7);
    text-shadow: rgba(255, 255, 255,0.9) 1px 1px 1px;
    padding-top: 18vw;
    padding-left: 6rem;
    font-family: 'PoppinB';
    font-size: 12rem;
    line-height: 10rem;
}
.home h2{
    display: inline;
    font-family: 'PoppinB';
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
}
.description{
    padding-top: 2.5rem;
    padding-left: 6rem;
}
.brown{
    color: rgba(189, 165, 130,0.7);
    text-shadow: rgba(255, 255, 255,0.9) 1px 1px 1px;
}
.white{
    color:rgba(255, 255, 255,0.9);
}
.skillswhole{
    min-height: 70vh;
    color:rgba(255, 255, 255,0.7);
    text-shadow:rgba(189, 165, 130,0.7) 1px 1px 1px ;
    display: flex;
    justify-content: space-around;
    margin-top: 20vh;
    font-size: 2rem;
    line-height: 10rem;
}
.skillswhole h1{
    font-family: 'HOME';
    font-size: 6rem;
    text-decoration: underline;
}
.skillswhole li{
    line-height: 3rem;
    text-align: center;
}
.educationwhole{
    min-height: 70vh;
    color:rgba(255, 255, 255,0.7);
    text-shadow:rgba(189, 165, 130,0.7) 1px 1px 1px ;
    margin-top: 20vh;
    font-size: 2rem;
    line-height: 15rem;
    text-align: center;
}
.educationwhole h1{
    font-family: 'HOME';
    font-size: 6rem;
    text-decoration: underline;
}
.educationwhole h2{
    line-height: 5rem;
    text-align: center;
}
@keyframes comeinfrombottom{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes comeoutfrombottom{
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(100%);
    }
}
@keyframes comein{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@media only screen and (max-width: 900px){
    .home h1{
        font-size: 8.5rem;
        text-align: center;
        padding-left: 0;
        padding-top: 7rem;
        line-height:7rem ;
    }
    .description{
        padding-top: 50%;
        padding-left: 0;
        text-align: center;
    }
    .description h2{
        font-size: 4rem;
    }
}
@media only screen and (max-height: 700px) and   (orientation:landscape){
    *{
        font-size: 0.8rem;
        overflow: visible;
    }
    .home h1{
        font-size: 8vw;
        line-height: 6.5vw;
        padding-left: 6rem;
        text-align: left;
    }
    .description{
        padding-top: 8%;
    }
    .description h2{
        font-size: 4vw;
    }
}
@media only screen and (max-width: 600px) {
    .nothomebutton{
        display: flex;
        width: 80vw;
        position: absolute;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.9);
        transform: translateX(-110%);
    }
    .nav-item{
        width: auto;
        height: auto;
    }
    .nothomebutton-active{
        display: flex;
        width: 77vw;
        position: absolute;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.9);
        transform: translateX(0%);
        transition: all 0.2s ease-in;
    }
    .toggle-menu img{
        display: block;
    }
    .home h1{
        color: rgb(189, 165, 130,);
        text-shadow: rgba(255, 255, 255,0.8) 0.5px 0.5px 1px;;
        font-size: 5rem;
        text-align: center;
        padding-left: 0;
        padding-top: 3rem;
        line-height:4.5rem ;
    }
    .description{
        padding-top: 60%;
    }
    .description h2{
        font-size: 2.5rem;
        line-height: 2rem;
    }
  }

